
<!DOCTYPE html>
<html ng-app="loseItApp">
  <head>
    <meta charset="utf-8">
    <title>tic-tac</title>
    <style>
    table{
    	border-collapse: collapse;
    }
    td{
    	border: 1px solid;
    	border-collapse: collapse;
    	width: 30px;
    	height: 30px;
    	text-align: center;
    }
    td:hover{
    	cursor: pointer;
    }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head>
  <body ng-controller="mainCntr">
    <div class="beforeGame" ng-if="gameState==0">
      <input placeholder="Board Size" type="number" ng-model="board.size">
      <button ng-click="startGame(board.size)">just start game! with {{pastBoardSize}}x{{pastBoardSize}}</button>
    </div>
    <table ng-if="gameState>=2">
      <tbody>
        <tr ng-repeat="r in numberToArray(config.m)">
          <td ng-repeat="c in numberToArray(config.n)" ng-click="handleClick($parent.$index,$index)">{{showMatrixValue($parent.$index,$index)==1?'O':showMatrixValue($parent.$index,$index)==2?'X':''}}</td>
        </tr>
      </tbody>
    </table>
    <p>{{flag.gameStatusText}}</p>
    <div class="afterGame" ng-if="gameState>=3">
      <input placeholder="Board Size" type="number" ng-model="board.size">
      <button ng-click="startGame(board.size)">restart game!<!--  with {{pastBoardSize}}x{{pastBoardSize}} --></button>
      <button ng-click="startGame(defaultBoardSize)" ng-if="defaultBoardSize!=pastBoardSize"> with {{defaultBoardSize}}x{{defaultBoardSize}}</button>
    </div>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>
