<!DOCTYPE html>
<html ng-app="loseItApp">
  <head>
    <meta charset="utf-8">
    <title>tic-tac</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript">
    var app = angular.module('loseItApp',[]);
    app.controller('mainCntr',['$scope', function($){
      $.config = {};
      $.config.m = 4;
      $.config.n = 4;

      $.flag = {};
      $.flag.turnPlayer = true;

      $.matrix = [];
      for (var i = 0; i < $.config.m; i++) {
        var a = [];
        for (var j = 0; j < $.config.n; j++) {
          a.push(0);
        }
        $.matrix.push(a);
      }

      $.handleClick = function(i,j){
        // console.log(i,j);
        if (!$.matrix[i][j]){
          if ($.flag.turnPlayer) {
            $.matrix[i][j] = 1;
          }
          else {
            $.matrix[i][j] = 2;
          }
          // console.log('--------',$.checkWin());
          $.flag.winStatus = $.checkWin() + 'wins';
          $.flag.turnPlayer = !$.flag.turnPlayer;
        }
      }

      $.checkWin = function(){
        var m = $.config.m;
        var n = $.config.n;
        var map = $.matrix;

        //check all m horizontals
        for (var i = 0; i < m; i++) {
          var win = true;
          for (var j = 0; j < n; j++) {
            if (!!map[i][j]) {//console.log('ifNotZero');
              if (j>0) {
                if(map[i][j]!=map[i][j-1]) {
                  win = false;break;
                }
              }
            }
            else {
              win = false;break;
            }
          }
          if (win) {
            return map[i][0];
          }
        }

        //check all n verticals
        for (var j = 0; j < m; j++) {
          var win = true;
          for (var i = 0; i < n; i++) {
            if (!!map[i][j]) {//console.log('ifNotZero');
              if (i>0) {
                if(map[i][j]!=map[i-1][j]) {
                  win = false;break;
                }
              }
            }
            else {
              win = false;break;
            }
          }
          if (win) {
            return map[0][j];
          }
        }

        //check both diagonals
        for (var i = 0; i < m; i++) {
          var win = true;
          for (var j = 0; j < n; j++) {
            if (!!map[i][j]) {//console.log('ifNotZero');
              if (j>0) {
                if(map[i][j]!=map[i][j-1]) {
                  win = false;break;
                }
              }
            }
            else {
              win = false;break;
            }
          }
          if (win) {
            return map[i][0];
          }
        }

        return -1;

      }

      $.showMatrixValue = function(i,j){
        // console.log(i,j);
        return $.matrix[i][j];
      }

      //number to array for ng-repeat: 4 -> [1,2,3,4]
    	$.numberToArray = function(num){
    		var arr = [];
    		//i must start with 1 and end to num
    		for (var i = 1; i <= num; i++) {arr.push(i);};
    		return arr;
    	}
    }])
    </script>
  </head>
  <body ng-controller="mainCntr">
    {{config.m+config.n}}
    <table>
      <tbody>
        <tr ng-repeat="r in numberToArray(config.m)">
          <td ng-repeat="c in numberToArray(config.n)" ng-click="handleClick($parent.$index,$index)">
            <span>{{showMatrixValue($parent.$index,$index)}}</span>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="3">status:{{flag.winStatus}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
